@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?puy5m9') format('truetype'),
    url('../fonts/icons.woff?puy5m9') format('woff'),
    url('../fonts/icons.svg?puy5m9#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e900";
}
.icon-inst:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e903";
}
.icon-header-login:before {
  display: none;
  content: "\e904";
}
