@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/*=============================================*/
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
}

body.lock {
  overflow: hidden;
}

.button {
  width: 100%;
  color: #191919;
  font-weight: bold;
  font-size: 0.85em;
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
  padding: 11px;
  box-shadow: 7px 7px 10px #000000;
  background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  border: none;
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 85.6%;
  background: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  line-height: 19px;
}

.text-gold {
  color: #B0A33D;
  line-height: 19px;
}

.subtitle {
  line-height: 19.38px;
  color: #B0A33D;
  text-align: center;
}

.link {
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline;
  color: #B0A33D;
}

.img {
  width: 100%;
}

/*=============================================*/
.site {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 103px 0 0 0;
}

.main {
  flex-grow: 1;
  background-color: #191919;
  background-image: linear-gradient(180deg, #292929 0%, #282828 16.58%, #272727 33.27%, #222222 53.66%, #1F1F1F 62.93%, #191919 74.06%);
  background-repeat: no-repeat;
}

.logo {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 18px 0 20px;
  max-width: 1210px;
  z-index: 2;
  position: relative;
}

.rectangle {
  height: 26px;
  background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
}

/*=============================================*/
.header {
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__logo {
  font-size: 0;
  flex-basis: 218px;
  z-index: 5;
}
.header__logo-img {
  display: inline-block;
  width: 63px;
  height: 63px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: 20px 0;
}
.header__log-in {
  max-width: 158px;
  z-index: 5;
  flex: 1 1 auto;
  margin: -4px 0 0 auto;
}

.nav__menu {
  font-size: inherit;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 42px;
}
.nav__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 20px 0;
  letter-spacing: 0.049px;
}
.nav__text {
  display: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/*=============================================*/
.introductory {
  background-color: #131418;
}
.introductory__container {
  max-width: 1440px;
  padding-top: 98px;
  padding-bottom: 105px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../img/introductory/introductory.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.introductory__button {
  width: 158px;
  margin-bottom: 35px;
}
.introductory__title {
  margin-bottom: 15px;
  max-width: 400px;
  font-size: 55px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.introductory__text {
  max-width: 436px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 16px;
}
.introductory__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introductory__logo {
  width: 277px;
  height: 277px;
  opacity: 0.6;
  filter: drop-shadow(7px 7px 10px #000000);
}
.introductory__bottles {
  width: 1440px;
  height: inherit;
  position: relative;
}
.introductory__bottle {
  position: absolute;
  opacity: 0;
  transition: transform 1s ease, opacity 0.5s ease;
}
.introductory__bottle.active {
  transform: translateX(0);
  opacity: 1;
}
.introductory__bottle_black {
  top: -584px;
  left: 226px;
}
.introductory__bottle_orange {
  top: -579px;
  left: 266px;
}
.introductory__bottle_honey {
  top: -277px;
  right: 194px;
}
.introductory__bottle_pink {
  top: -256px;
  right: 94px;
}
.introductory__bottle_honey, .introductory__bottle_pink {
  transform: translateX(100%);
}
.introductory__bottle_black, .introductory__bottle_orange {
  transform: translateX(-100%);
}

/*=============================================*/
.info {
  overflow: hidden;
  position: relative;
}
.info::after {
  content: "";
  width: 544px;
  height: 468px;
  position: absolute;
  bottom: 475px;
  left: 0;
  transform: translateX(-70%);
  background-image: url(../img/pentagon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.info__pentagon-logo {
  content: "";
  width: 592px;
  height: 537px;
  position: absolute;
  bottom: 34px;
  right: 56px;
  transform: translateX(61.7%);
  background-image: url(../img/pentagon.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.info__pentagon-logo::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url(../img/logo.svg);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 129px 150px;
  opacity: 0.3;
}

.company__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
  padding: 0 34px 0 50px;
}
.company__picture-container {
  filter: drop-shadow(7px 7px 10px #000000);
  margin: 0 62px 0 0;
}
.company__img {
  width: 276.59px;
  height: 320px;
  box-shadow: 7px 7px 10px #000000;
  position: relative;
  background-image: linear-gradient(90deg, #B0A33D 1.88%, #FCDB67 35.61%, #F5C42F 54.52%, #FFEA47 87.74%);
  border-image-slice: 1;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.company__img:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-size: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-image: url("../img/info/company/office-picture.jpg");
}
.company__info {
  max-width: 348px;
  margin: 51px 0 0 0;
}
.company__title {
  display: block;
  font-size: 24px;
  padding: 112px 0 0 0;
  transform: translate(6px, 0);
  text-align: center;
  margin-bottom: -50px;
}
.company__subtitle {
  text-align: center;
  max-width: 310px;
  margin: 24px 0 35px 4px;
  line-height: 16px;
}
.company__description {
  margin: 0 0 0 12px;
}
.company__description-item {
  margin-bottom: 6px;
}
.company__description-item:last-child {
  margin-bottom: 0;
}
.company__map {
  position: relative;
  margin: 43px 0 0 0;
}
.company__map-picture {
  display: block;
  margin-bottom: 17px;
  filter: drop-shadow(7px 7px 10px #000000);
}
.company__map-picture::before {
  content: "";
  z-index: 2;
  width: 92px;
  height: 94px;
  position: absolute;
  top: -67px;
  left: -53px;
  background: url(../img/logo.svg) no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(4px 4px 0px #00000040);
}
.company__map-link {
  text-align: right;
}

.founders {
  position: relative;
  z-index: 1;
}
.founders__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 52px;
  row-gap: 25px;
  padding: 0 0 41.4px 0;
}
.founders__title {
  text-align: center;
  font-size: 24px;
  margin: -7px 0 47px 0;
}
.founders__subtitle {
  margin-bottom: 21px;
}
.founders__item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founders__img {
  position: relative;
  width: 194px;
  height: 198px;
  filter: drop-shadow(7px 7px 10px #000000);
  margin-bottom: 38px;
}
.founders__img img {
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.founders__img::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 33px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%) rotate(90deg);
  filter: drop-shadow(7px 7px 10px #000000);
  background: transparent url("../img/pentagon-gold.png");
  background-size: cover;
}
.founders__img_koshelev {
  width: 186px;
  height: 193px;
  padding-top: 8px;
  margin-bottom: 41px;
}
.founders__text {
  text-align: center;
  white-space: pre-wrap;
}
.founders__text_koshalev {
  font-size: 13px;
  line-height: 18.3px;
}

/*=============================================*/
.products {
  position: relative;
  background-image: url("../img/products/petagon-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  overflow: hidden;
}
.products__title {
  font-size: 24px;
  text-align: center;
  padding-top: 57px;
  margin-bottom: 52px;
}
.products__img-text {
  font-size: 12px;
}
.products__subtitle {
  display: inline-block;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 85.6%;
  background: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}
.products__rectangle-right {
  width: 55.7%;
  margin-left: auto;
}
.products__rectangle-left {
  width: 53%;
  margin-right: auto;
}
.products__button {
  text-decoration-line: underline;
  color: #B0A33D;
  cursor: pointer;
}
.products__pentagon {
  position: absolute;
  width: 564px;
  height: 463px;
  background-image: url(../img/pentagon.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  left: -374px;
  bottom: 560px;
}
.products__logo-opacity {
  position: absolute;
  height: 387px;
  width: 387px;
  right: -218px;
  bottom: 123px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 0.3;
}
.products__pentagon-logo {
  position: absolute;
  height: 347px;
  width: 407px;
  right: -218px;
  top: 874px;
  background-image: url(../img/pentagon.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.products__pentagon-logo::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: 216px 51%;
  background-position: 72px 96px;
  opacity: 0.3;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.bottom__button {
  width: 158px;
}
.bottom__rectangle-left {
  width: 36.1%;
}
.bottom__rectangle-right {
  width: 36.1%;
}

.img-bottles {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.img-bottles__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -34px 0 0 0;
}
.img-bottles__bottles {
  width: 389px;
  height: 358px;
  position: relative;
  background-image: url(../img/pentagon-gold.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(7px 7px 11px #000000);
}
.img-bottles__subtitle {
  margin: 0 0 22px 0;
  width: 263px;
}
.img-bottles__description {
  transform: translateX(3px);
}
.img-bottles__button {
  width: 158px;
  margin: 22px 0 0 0;
}

.description {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
  padding: 0 111px 69px 83px;
}
.description__common-words {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 112px 0 0 0;
  row-gap: 12px;
}
.description__text {
  max-width: 514px;
  white-space: pre-wrap;
  font-size: 0;
}
.description__text .text {
  font-size: 14px;
}
.description__text-gold {
  max-width: 332px;
}
.description__img-pink {
  position: absolute;
  width: 51.5%;
  bottom: 32px;
  left: -22px;
  transform: rotate(-8deg);
}
.description__img-orange {
  position: absolute;
  width: 54%;
  bottom: 44px;
  right: -34px;
  transform: rotate(-19deg);
}
.description__img-black {
  position: absolute;
  width: 49.6%;
  bottom: 32px;
  left: 58px;
  transform: rotate(11deg);
}
.description__img-honey {
  position: absolute;
  width: 46%;
  bottom: 30px;
  left: 167px;
  transform: rotate(8deg);
}

.honey {
  padding: 0 0 78px 0;
}
.honey__top-container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin: 0 0 30px 22px;
}
.honey__img {
  position: absolute;
  width: 60.5%;
  left: 81px;
  transform: rotate(-3deg);
  bottom: -23px;
}
.honey__text-container {
  max-width: 671px;
  margin: 43px 0 0 0;
  line-height: 19.38px;
}
.honey__text-gold {
  margin: 0 0 30px 0;
}
.honey__text-item {
  margin: 0 0 23px 0;
}
.honey__text-button {
  text-align: center;
  display: none;
}
.honey__bottom-container {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
.honey__advantages {
  flex-basis: 469px;
}
.honey__specifications {
  flex-basis: 552px;
}
.honey__advantages-title {
  text-align: center;
  margin: 0 0 36px 0;
  transform: translateX(-26px);
}
.honey__specifications-title {
  text-align: center;
  margin: 0 0 38px 0;
}

.block__container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 64px;
}
.block__body {
  width: 100%;
}
.block__text-top {
  margin: 0 0 10px 0;
}
.block__item {
  position: relative;
  max-width: 261px;
  max-height: 100vh;
  padding-top: 80px;
  flex: 1 1 auto;
  transition: all 0.3s ease;
  transform-origin: top center;
}
.block__item_hidden {
  max-height: 0;
  padding: 0;
  opacity: 0;
  transform: scaleY(0);
}
.block__item_remove {
  display: none;
}
.block__item::before, .block__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}
.block__item::before {
  width: 78px;
  height: 63px;
  top: 0;
  background-image: url("../img/products/pentagon-black.png");
}
.block__item::after {
  width: 45px;
  height: 46px;
  top: 8px;
  background-image: url("../img/logo.svg");
  background-size: cover;
}
.block__button {
  margin: 10px 0 0 0;
  text-align: center;
}

.diatomea {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 0 23px 70px 0;
  column-gap: 15px;
}
.diatomea__left {
  grid-row: 1;
  grid-column: 1;
}
.diatomea__right {
  grid-column: 2;
  grid-row: 1/3;
  margin: 10px 27px 0 0;
}
.diatomea__bottom {
  grid-column: 1;
  grid-row: 2;
}
.diatomea__description {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  max-width: 526px;
  margin: 40px 0 31px 80px;
}
.diatomea__img {
  position: absolute;
  width: 73%;
  transform: rotate(5deg);
  bottom: -38px;
  left: 64px;
}

.applications__title {
  text-align: center;
  margin: 0 0 26px 0;
}

.fertilizer {
  display: flex;
  flex-direction: column;
  padding: 0 0 97px 22px;
}
.fertilizer__structure {
  max-width: 665px;
  padding: 39px 0 0 91px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.fertilizer__application {
  max-width: 432px;
  margin: 38px 0 0 0;
}
.fertilizer__application-title {
  text-align: center;
  margin: 0 0 30px 0;
}
.fertilizer__application-text {
  margin: 0 0 0 8px;
}
.fertilizer__effectiveness {
  max-width: 540px;
  margin: 39px 0 0 165px;
}
.fertilizer__effectiveness-title {
  text-align: center;
  margin-bottom: 29px;
  transform: translateX(-55px);
}
.fertilizer__effectiveness-item {
  list-style: disc;
}
.fertilizer__effectiveness-item_hidden {
  display: none;
}
.fertilizer__button {
  margin-top: 3px;
}
.fertilizer__img {
  position: relative;
  width: 65%;
  bottom: 28px;
  left: -9px;
}
.fertilizer__top, .fertilizer__bottom {
  display: flex;
}

/*=============================================*/
.documents {
  position: relative;
  padding: 0 0 88px 0;
}
.documents::before {
  content: "";
  display: block;
  width: 553px;
  height: 427px;
  position: absolute;
  left: -248px;
  bottom: -94px;
  background-image: url(../img/pentagon.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.documents__title {
  font-size: 24px;
  text-align: center;
  padding: 168px 0 60px 0;
  position: relative;
  z-index: 1;
}
.documents__slider {
  position: relative;
  z-index: 1;
}
.documents .container {
  overflow: hidden;
}
.documents .container::after {
  content: "";
  display: block;
  width: 503px;
  height: 384px;
  position: absolute;
  right: 3px;
  bottom: 284px;
  background-image: url(../img/pentagon.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.slider-documents__container {
  position: relative;
  overflow: hidden;
  max-width: 1006px;
  min-height: 510px;
  margin: 0 auto;
}
.slider-documents__image {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.slider-documents__image::after {
  content: "";
  width: 100%;
  height: 9px;
  background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
}
.slider-documents__tracer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: -231px;
  white-space: nowrap;
  min-width: 200px;
}
.slider-documents__item {
  width: 200px;
  min-height: 284px;
  transition: all 1s;
  flex-shrink: 0;
  margin-right: 42px;
  position: relative;
}
.slider-documents__item_anim {
  width: 0;
  margin: 0;
}
.slider-documents__item_active {
  margin: 0 129px 0 87px;
  width: 326px;
  min-height: 463px;
}
.slider-documents__item img {
  width: 100%;
}
.slider-documents__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
.slider-documents__button {
  position: absolute;
  width: 41px;
  height: 36px;
  background-color: transparent;
  background-image: url("../img/pentagon-gold.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.slider-documents__button_left {
  transform: translate(-250px, -50%);
}
.slider-documents__button_right {
  transform: translate(210px, -50%);
}

.arrow {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.arrow_left {
  transform: rotate(180deg);
}
.arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 3px solid gold;
  border-left: none;
  border-bottom: none;
  top: 13px;
  right: 12px;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background: gold;
  top: 16.3px;
  right: 13.2px;
}

/*=============================================*/
.news {
  position: relative;
}
.news__title {
  font-size: 24px;
  text-align: center;
  padding: 0 0 76px 0;
}
.news__slider {
  margin-bottom: 80px;
}
.news::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 600px;
  background: url(../img/logo.svg) no-repeat;
  background-size: 100% auto;
  right: -90px;
  bottom: 60px;
  opacity: 30%;
}

.slider-news__item {
  margin-right: 120px;
}
.slider-news__container {
  max-width: 343px;
}
.slider-news__date {
  text-align: right;
  margin-bottom: 19px;
}
.slider-news__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 19.38px;
}
.slider-news__img {
  margin-bottom: 19px;
}
.slider-news__img::after {
  content: "";
  display: block;
  height: 11px;
  width: 100%;
  background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
}

.slick-track {
  display: flex;
}

.slick-list {
  position: relative;
  overflow: hidden;
  max-width: 810px;
  margin: 0 auto;
}

.slick-arrow {
  display: block;
  font-size: 0;
  background-color: transparent;
  background-image: url(../img/pentagon-gold.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 41px;
  height: 36px;
  position: absolute;
  top: 50%;
}
.slick-arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 3px solid gold;
  border-left: none;
  border-bottom: none;
  top: 13px;
  right: 12px;
}
.slick-arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background: gold;
  top: 16.3px;
  right: 13.2px;
}
.slick-arrow.slick-prev {
  left: 120px;
  transform: translateY(-50%) rotate(180deg);
}
.slick-arrow.slick-next {
  right: 120px;
  transform: translateY(-50%);
}

/*=============================================*/
@media (max-width: 1200px) {
  .company {
    justify-content: space-around;
  }
  .company__picture-container {
    margin: 0;
  }
}
@media (max-width: 1120px) {
  .header__log-in {
    max-width: none;
    flex: 0 1 158px;
    margin: 0;
  }
  .header__logo {
    flex-basis: 140px;
  }

  .nav__menu {
    column-gap: 25px;
  }

  .company__container {
    justify-content: space-around;
  }

  .description__text {
    white-space: normal;
  }

  .img-bottles__bottles {
    width: 375px;
    height: 348px;
  }
}
@media (max-width: 1089px) {
  .company__title {
    margin: 0;
  }
  .company__map {
    display: flex;
    flex-direction: column;
  }
  .company__map-link {
    order: -1;
  }
  .company__map-picture {
    margin: 17px 0 0 0;
  }

  .founders__title {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 47px 0;
  }

  .block__container {
    column-gap: 14px;
  }

  .diatomea {
    padding: 0 0 70px 0;
  }

  .slider-documents__tracer {
    left: -569px;
  }
  .slider-documents__container {
    max-width: 329px;
  }
}
@media (max-width: 980px) {
  .header__log-in {
    flex-basis: 130px;
  }
  .header__logo {
    flex-basis: auto;
  }

  .nav__menu {
    column-gap: 20px;
  }

  .introductory__container {
    padding: 85px 0 85px 0;
    background-size: cover;
  }
  .introductory__button {
    margin-bottom: 25px;
  }
  .introductory__title {
    margin-bottom: 18px;
    font-size: 45px;
  }
  .introductory__text {
    margin-bottom: 16px;
  }
  .introductory__logo {
    width: 220px;
    height: 220px;
  }
  .introductory__bottles {
    display: none;
  }

  .company__container {
    row-gap: 15px;
  }
  .company__title {
    padding-top: 72px;
    padding-bottom: 20px;
  }
  .company__info {
    margin: 0;
  }
  .company__map {
    margin-top: 70px;
  }

  .products__title {
    padding-top: 37px;
    margin-bottom: 25px;
  }
  .products__rectangle-right {
    width: 50vw;
  }
  .products__rectangle-left {
    width: 50vw;
  }

  .description {
    padding: 0 30px 42px 30px;
  }
  .description__img-black {
    left: 52px;
  }
  .description__img-honey {
    left: 141px;
  }

  .img-bottles__bottles {
    width: 350px;
    height: 323px;
  }

  .honey {
    padding: 0 0 40px 0;
  }
  .honey__text-button {
    display: block;
  }
  .honey__text-item_hidden {
    display: none;
  }
  .honey__text-gold {
    margin: 0 0 20px 0;
  }
  .honey__text-item {
    margin: 0 0 18px 0;
  }
  .honey__bottom-container {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .honey__advantages-title {
    transform: translate(0);
    margin-bottom: 30px;
  }
  .honey__specifications-title {
    margin-bottom: 30px;
  }
  .honey__advantages, .honey__specifications {
    max-width: 536px;
    flex-basis: auto;
  }

  .block__container {
    row-gap: 30px;
  }
  .block__item {
    width: 261px;
  }

  .diatomea {
    padding: 21px 0 51px 0;
    row-gap: 30px;
    justify-items: center;
  }
  .diatomea__left {
    grid-row: 1;
  }
  .diatomea__right {
    grid-row: 1;
  }
  .diatomea__bottom {
    max-width: 536px;
    grid-column: 1/3;
    grid-row: 2;
  }
  .diatomea__description {
    margin: 40px 0 31px 50px;
  }

  .fertilizer {
    padding: 0 0 80px 22px;
  }
  .fertilizer__structure {
    padding: 39px 0 0 40px;
  }
  .fertilizer__effectiveness {
    margin-left: 0;
    max-width: 50%;
  }
  .fertilizer__application {
    max-width: 50%;
  }
  .fertilizer__effectiveness-title {
    transform: translateX(0);
  }
  .fertilizer__bottom {
    justify-content: space-evenly;
    column-gap: 70px;
  }

  .documents__title {
    padding: 138px 0 60px 0;
  }
}
@media (max-width: 840px) {
  .adaptive-text {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 1px;
    color: white;
  }

  .header__wrapper {
    position: relative;
  }
  .header__logo {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translate(-53%, 7px);
  }
  .header__nav {
    order: 3;
  }
  .header__log-in {
    flex-basis: auto;
  }
  .header__log-in .button {
    position: relative;
    padding: 34px 0 0 0;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }
  .header__log-in .button::before {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav__icon-burger {
    position: relative;
    z-index: 5;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav__icon-burger.nav__icon_active .nav__icon::before {
    width: 100%;
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .nav__icon-burger.nav__icon_active .nav__icon::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  .nav__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 20px 0;
  }
  .nav__icon {
    margin-bottom: 6px;
    position: relative;
    width: 49px;
    height: 18px;
  }
  .nav__icon::before, .nav__icon::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    transform-origin: 50%;
    transition: transform 0.3s ease;
    background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  }
  .nav__icon::before {
    top: 0;
    right: 0;
    width: 73.47%;
  }
  .nav__icon::after {
    bottom: 0;
    width: 100%;
  }
  .nav__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .nav__body_active {
    left: 0;
  }
  .nav__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    background-color: #191919;
  }

  .text-hidden {
    opacity: 0;
  }
}
@media (max-width: 736px) {
  .container {
    padding: 0 17px 0 27px;
  }

  .introductory__title {
    margin-bottom: 13px;
    font-size: 40px;
  }
  .introductory__text {
    max-width: 370px;
  }
  .introductory__logo {
    width: 170px;
    height: 170px;
  }

  .company__title {
    padding-top: 40px;
    padding-bottom: 31px;
  }
  .company__map {
    margin-top: 70px;
  }

  .founders__title {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .founders__items {
    column-gap: 5px;
    row-gap: 27px;
    padding: 0 0 39px 0;
  }

  .info::after, .info__pentagon-logo {
    display: none;
  }

  .products__title {
    padding-top: 30px;
    margin-bottom: 0;
  }
  .products__rectangle-right {
    margin: 0;
    width: 100%;
  }
  .products__rectangle-left {
    margin: 0;
    width: 100%;
  }
  .products__logo-opacity, .products__pentagon, .products__pentagon-logo {
    display: none;
  }

  .description {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
  }
  .description__common-words {
    margin: 92px 0 0 0;
  }

  .honey {
    padding: 0 0 41px 0;
  }
  .honey__top-container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .honey__advantages-title {
    margin: 0 0 25px 0;
  }
  .honey__specifications-title {
    margin: 0 0 25px 0;
  }

  .img-bottles__container {
    margin: 20px 5px 0 0;
  }

  .block__container {
    row-gap: 35px;
  }

  .diatomea {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }
  .diatomea__right {
    grid-column: 1;
    grid-row: 1;
    margin: 10px 0 0 0;
  }
  .diatomea__left {
    grid-column: 1;
    grid-row: 2;
  }
  .diatomea__bottom {
    grid-column: 1;
    grid-row: 3;
  }
  .diatomea__description {
    margin: 0 0 0 22px;
    max-width: 100%;
  }

  .fertilizer {
    padding: 11px 0 50px 22px;
  }
  .fertilizer__structure {
    padding: 51px 0 0 0;
    row-gap: 22px;
  }
  .fertilizer__application-text {
    margin: 0;
  }
  .fertilizer__top, .fertilizer__bottom {
    flex-direction: column;
    justify-content: flex-start;
  }
  .fertilizer__effectiveness, .fertilizer__application {
    margin: 30px 0 0 0;
    max-width: 100%;
  }
  .fertilizer__effectiveness-title, .fertilizer__application-title {
    text-align: left;
    margin: 0 0 15px 0;
  }
  .fertilizer__effectiveness-list {
    padding: 0 0 0 15px;
  }
  .fertilizer__button {
    text-align: center;
  }

  .bottom {
    flex-direction: column;
  }
  .bottom::before {
    width: 320px;
    height: 247px;
    position: absolute;
    content: "";
    background-image: url(../img/pentagon.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center bottom;
  }
  .bottom__rectangle-right {
    display: none;
  }
  .bottom__rectangle-left {
    width: 100%;
  }
  .bottom__button {
    padding: 90px 0 100px 0;
    position: relative;
  }

  .documents {
    padding: 0 0 40px 0;
  }
  .documents::before {
    display: none;
  }
  .documents .container::after {
    display: none;
  }
  .documents__title {
    padding: 50px 0 25px 0;
  }

  .slider-documents__container {
    min-height: 463px;
  }
  .slider-documents__tracer {
    left: -546px;
  }
  .slider-documents__item_active {
    margin: 0 87px 0 87px;
    width: 280px;
    min-height: 463px;
  }
  .slider-documents__button_left {
    transform: translate(-210px, -50%);
  }
  .slider-documents__button_right {
    transform: translate(170px, -50%);
  }
}
@media (max-width: 540px) {
  .introductory__container {
    padding: 23px 0 75px 0;
  }
  .introductory__title {
    max-width: 132px;
    margin-bottom: 9px;
    font-size: 35px;
  }
  .introductory__text {
    max-width: 229px;
    margin-bottom: 10px;
  }
  .introductory__logo {
    display: none;
  }
  .introductory__button {
    margin: 0;
    transform: translateX(-3px);
  }

  .company__subtitle {
    margin: 24px 35px 35px 0;
  }
  .company__container {
    padding: 0;
    flex-direction: column;
    row-gap: 8px;
  }
  .company__title {
    padding-top: 23px;
    transform: translateX(-3px);
  }
  .company__description {
    margin: 0 0 0 5px;
  }
  .company__description-item:last-child {
    line-height: 23px;
  }
  .company__map {
    align-self: flex-end;
    width: 233px;
    margin: 24px 2px 0 0;
  }
  .company__map-picture::before {
    width: 68px;
    top: -65px;
    left: -43px;
  }
  .company__map-link {
    align-self: flex-end;
    margin: 1px 2px 0 0;
  }

  .founders__title {
    margin-top: 29px;
    margin-bottom: 20px;
    transform: translate(-3px);
  }

  .img-bottles__bottles {
    width: 277px;
    height: 248px;
    margin-bottom: 16px;
  }
  .img-bottles__button {
    transform: none;
  }

  .products {
    background-size: 140%;
  }
  .products__title {
    padding-top: 22px;
  }

  .description {
    padding-left: 0;
    padding-right: 0;
  }
  .description__common-words {
    margin: 76px 0 0 0;
    row-gap: 14px;
  }
  .description__text-gold {
    max-width: 196px;
  }
  .description__img-honey {
    bottom: 13px;
    left: 115px;
  }
  .description__img-orange {
    bottom: 21px;
    right: -25px;
  }
  .description__img-black {
    left: 40px;
    bottom: 14px;
  }
  .description__img-pink {
    left: -12px;
    bottom: 16px;
  }
  .description__bottles {
    width: 257px;
    height: 229px;
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .honey__img {
    width: 61.5%;
    left: 55px;
    bottom: -24px;
  }
  .honey__top-container {
    column-gap: 30px;
    margin: 0 0 18px -5px;
  }
  .honey__text-container {
    margin: 31px 0 0 5px;
  }
  .honey__text-gold {
    margin: 0 0 25px 0;
    text-align: center;
  }
  .honey__text-item {
    margin: 0;
  }
  .honey__bottom-container {
    row-gap: 26px;
  }

  .diatomea {
    row-gap: 0;
  }
  .diatomea__img {
    width: 75%;
    left: 44px;
  }
  .diatomea__right {
    margin: 0 0 31px 0;
  }
  .diatomea__left {
    margin: 20px 12px 21px 0;
  }
  .diatomea__bottom {
    margin: 0 12px 0 0;
  }
  .diatomea__description {
    margin: 0;
    row-gap: 24px;
    align-items: flex-start;
  }

  .fertilizer {
    padding: 11px 0 48px 0;
  }
  .fertilizer__structure {
    max-width: 260px;
  }
  .fertilizer__structure-list {
    margin: -13px 0 0 0;
    max-width: 250px;
  }
  .fertilizer__application-text {
    margin: -5px 0 0 0;
  }
  .fertilizer__effectiveness-list {
    padding: 0 0 0 21px;
    margin-top: -7px;
  }

  .documents {
    padding: 0 0 20px 0;
  }
  .documents__title {
    padding: 32px 0 19px 0;
  }

  .slider-documents__button_right {
    transform: translate(110px, -50%);
  }
  .slider-documents__button_left {
    transform: translate(-150px, -50%);
  }
  .slider-documents__container {
    max-width: 217px;
    min-height: 331px;
  }
  .slider-documents__tracer {
    left: -494px;
  }
  .slider-documents__item_active {
    margin: 0 20px 0 20px;
    width: 200px;
    min-height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
