@import "values";

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
        url("../fonts/Raleway-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
  url("../fonts/Raleway-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"),
  url("../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*=============================================*/

html, body{
   padding: 0;
   margin: 0;
   height: 100%;
 }
body{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
}
body.lock{
  overflow: hidden;
}
.button{
  width: 100%;
  color: #191919;
  font-weight: bold;
  font-size: 0.85em;
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
  padding: 11px;
  box-shadow: 7px 7px 10px #000000;
  background-image:  linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  border: none;
}
.title{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 85.6%;
  background: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text{
  line-height: 19px;
}
.text-gold{
  color: #B0A33D;
  line-height: 19px;
}
.subtitle{
  line-height: 19.38px;
  color: #B0A33D;
  text-align: center;
}
.link{
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline;
  color: #B0A33D;
}
.img{
  width: 100%;
}

/*=============================================*/

 .site{
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 103px 0 0 0;
 }
 .main{
   flex-grow: 1;
   background-color: #191919;
   background-image:   linear-gradient(180deg, #292929 0%, #282828 16.58%, #272727 33.27%, #222222 53.66%, #1F1F1F 62.93%, #191919 74.06%);
   background-repeat: no-repeat;
 }
 .logo{
   width: 100%;
 }
.container{
  margin: 0 auto;
  padding: 0 18px 0 20px;;
  max-width: 1210px;
  z-index: 2;
  position: relative;
}
.rectangle{
  height: 26px;
  background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
}

/*=============================================*/
.header{
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__logo{
    font-size: 0;
    flex-basis: 218px;
    z-index: 5;
  }
  &__logo-img{
    display: inline-block;
    width: 63px;
    height: 63px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    padding: 20px 0;
  }
  &__log-in{
    max-width: 158px;
    z-index: 5;
    flex: 1 1 auto;
    margin: -4px 0 0 auto;
  }
}

.nav{
  &__menu{
    font-size: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap:42px;
  }
  &__link{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 20px 0;
    letter-spacing: 0.049px;
  }
  &__text{
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

/*=============================================*/

 .introductory{
   background-color: #131418;
   &__container{
     max-width: $widthContainer;
     padding-top: 98px;
     padding-bottom: 105px;
     margin: 0 auto;
     overflow: hidden;
     background-image:url("../img/introductory/introductory.jpg");
     background-position: center top;
     background-repeat: no-repeat;
   }
   &__button{
     width: 158px;
     margin-bottom: 35px;
   }
   &__title{
     margin-bottom: 15px;
     max-width: 400px;
     font-size: 55px;
     text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   }
   &__text{
     max-width: 436px;
     margin-bottom: 24px;
     text-align: center;
     line-height: 16px;
   }
   &__content{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   &__logo{
     width: 277px;
     height: 277px;
     opacity: 0.6;
     filter: drop-shadow(7px 7px 10px #000000);
   }
   &__bottles{
     width: $widthContainer;
     height: inherit;
     position: relative;
   }
   &__bottle{
     position: absolute;
     opacity: 0;
     transition: transform 1s ease,
     opacity 0.5s ease;
     &.active{
       transform: translateX(0);
       opacity: 1;
     }
     &_black{
       top: -584px;
       left: 226px;
     }
     &_orange{
       top: -579px;
       left: 266px;
     }
     &_honey{
       top: -277px;
       right: 194px;
     }
     &_pink{
       top: -256px;
       right: 94px;
     }
     &_honey, &_pink{
       transform: translateX(100%);
     }
     &_black, &_orange{
       transform: translateX(-100%);
     }
   }
 }
/*=============================================*/
.info{
  overflow: hidden;
  position: relative;
  &::after{
    content: "";
    width: 544px;
    height: 468px;
    position: absolute;
    bottom: 475px;
    left: 0;
    transform: translateX(-70%);
    background-image: url(../img/pentagon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__pentagon-logo{
    content: "";
    width: 592px;
    height: 537px;
    position: absolute;
    bottom: 34px;
    right: 56px;
    transform: translateX(61.7%);
    background-image: url(../img/pentagon.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      background-image: url(../img/logo.svg);
      background-size: auto 50%;
      background-repeat: no-repeat;
      background-position: 129px 150px;
      opacity: 0.3;
    }
  }
}

.company{
    &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    padding: 0 34px 0 50px;
  }
  &__picture-container{
    filter: drop-shadow(7px 7px 10px #000000) ;
    margin: 0 62px 0 0;
  }
  &__img{
    width: 276.59px;
    height: 320px;
    box-shadow: 7px 7px 10px #000000;
    position: relative;
    background-image: linear-gradient(90deg, #B0A33D 1.88%, #FCDB67 35.61%, #F5C42F 54.52%, #FFEA47 87.74%);
    border-image-slice: 1;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    &:before{
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      right: 13px;
      bottom: 13px;
      background-size: cover;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      background-image: url("../img/info/company/office-picture.jpg");
    }
  }
  &__info{
    max-width: 348px;
    margin: 51px 0 0 0;
  }
  &__title{
    display: block;
    font-size: 24px;
    padding: 112px 0 0 0 ;
    transform: translate(6px, 0);
    text-align: center;
    margin-bottom: -50px;
  }
  &__subtitle{
    text-align: center;
    max-width: 310px;
    margin: 24px 0 35px 4px;
    line-height: 16px;
  }
  &__description{
    margin: 0 0 0 12px;
  }
  &__description-item{
    margin-bottom: 6px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__map{
    position: relative;
    margin: 43px 0 0 0;
  }
  &__map-picture{
    display: block;
    margin-bottom: 17px;
    filter: drop-shadow(7px 7px 10px #000000);
    &::before{
      content: "";
      z-index: 2;
      width: 92px;
      height: 94px;
      position: absolute;
      top: -67px;
      left: -53px;
      background: url(../img/logo.svg) no-repeat;
      background-size: 100% 100%;
      filter: drop-shadow(4px 4px 0px #00000040);
    }
  }
  &__map-link{
    text-align: right;
  }
}

.founders{
  position: relative;
  z-index: 1;
  &__items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 25px;
    padding: 0 0 41.4px 0;
  }
  &__title{
    text-align: center;
    font-size: 24px;
    margin: -7px 0 47px 0;
  }
  &__subtitle{
    margin-bottom: 21px;
  }
  &__item{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img{
    position: relative;
    width: 194px;
    height: 198px;
    filter: drop-shadow(7px 7px 10px #000000);
    margin-bottom: 38px;
    & img{
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    &::before{
      content: "";
      position: absolute;
      width: 37px;
      height: 33px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 80%) rotate(90deg);
      filter: drop-shadow(7px 7px 10px #000000);
      background: transparent url("../img/pentagon-gold.png");
      background-size: cover;
    }
    &_koshelev{
      width: 186px;
      height: 193px;
      padding-top: 8px;
      margin-bottom: 41px;
    }
  }
  &__text{
    text-align: center;
    white-space: pre-wrap;
    &_koshalev{
      font-size: 13px;
      line-height: 18.3px;
    }
  }
}

/*=============================================*/

.products{
  position: relative;
  background-image: url("../img/products/petagon-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  overflow: hidden;
  &__title{
    font-size: 24px;
    text-align: center;
    padding-top: 57px;
    margin-bottom: 52px;
  }
  &__img-text{
    font-size: 12px;
  }
  &__subtitle{
    display: inline-block;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 85.6%;
    background: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
  }
  &__rectangle-right{
    width: 55.7%;
    margin-left: auto;
  }
  &__rectangle-left{
    width: 53%;
    margin-right: auto;
  }
  &__button{
    text-decoration-line: underline;
    color: #B0A33D;
    cursor: pointer;
  }
  &__pentagon{
    position: absolute;
    width: 564px;
    height: 463px;
    background-image: url(../img/pentagon.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    left: -374px;
    bottom: 560px;
  }
  &__logo-opacity{
    position: absolute;
    height: 387px;
    width: 387px;
    right: -218px;
    bottom: 123px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 0.3;
  }
  &__pentagon-logo{
    position: absolute;
    height: 347px;
    width: 407px;
    right: -218px;
    top: 874px;
    background-image: url(../img/pentagon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    &::after{
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;
      background-size: 216px 51%;
      background-position: 72px 96px;
      opacity: 0.3;
    }
  }
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  &__button{
    width: 158px;
  }
  &__rectangle-left{
    width: 36.1%;
  }
  &__rectangle-right{
    width: 36.1%;
  }
}

.img-bottles{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -34px 0 0 0;
  }
  &__bottles{
    width: 389px;
    height: 358px;
    position: relative;
    background-image: url(../img/pentagon-gold.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(7px 7px 11px  #000000);
  }
  &__subtitle{
    margin: 0 0 22px 0;
    width: 263px;
  }
  &__description{
    transform: translateX(3px);
  }
  &__button{
    width: 158px;
    margin: 22px 0 0 0;
  }
}

.description{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
  padding: 0 111px 69px 83px;
  &__common-words{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 112px 0 0 0;
    row-gap: 12px;
  }
  &__text{
    max-width: 514px;
    white-space: pre-wrap;
   font-size: 0;
    & .text{
      font-size: 14px;
    }
  }
  &__text-gold{
    max-width: 332px;
  }
  &__img-pink {
    position: absolute;
    width: 51.5%;
    bottom: 32px;
    left: -22px;
    transform: rotate(-8deg);
  }
  &__img-orange {
    position: absolute;
    width: 54%;
    bottom: 44px;
    right: -34px;
    transform: rotate(-19deg);
  }
  &__img-black {
    position: absolute;
    width: 49.6%;
    bottom: 32px;
    left: 58px;
    transform: rotate(11deg);
  }
  &__img-honey {
    position: absolute;
    width: 46%;
    bottom: 30px;
    left: 167px;
    transform: rotate(8deg);;
  }
}

.honey{
  padding: 0 0 78px 0;

  &__top-container{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin: 0 0 30px 22px;
  }
  &__img{
    position: absolute;
    width: 60.5%;
    left: 81px;
    transform: rotate(-3deg);
    bottom: -23px;
  }
  &__text-container{
    max-width: 671px;
    margin: 43px 0 0 0;
    line-height: 19.38px;
  }
  &__text-gold {
    margin: 0 0 30px 0;
  }
  &__text-item {
    margin: 0 0 23px 0;
  }
  &__text-button{
    text-align: center;
    display: none;
  }
  &__bottom-container{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
  }
  &__advantages{
    flex-basis: 469px;
  }
  &__specifications{
    flex-basis: 552px;
  }
  &__advantages-title{
    text-align: center;
    margin: 0 0 36px 0;
    transform: translateX(-26px);
  }
  &__specifications-title{
    text-align: center;
    margin: 0 0 38px 0;
  }
}

.block{
  &__container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  &__body{
    width: 100%;
  }
  &__text-top {
    margin: 0 0 10px 0;
  }
  &__item{
    position: relative;
    max-width: 261px;
    max-height: 100vh;
    padding-top: 80px;
    flex: 1 1 auto;
    transition: all 0.3s ease;
    transform-origin: top center;
    &_hidden{
      max-height: 0;
      padding: 0;
      opacity: 0;
      transform: scaleY(0);
    }
    &_remove{
      display: none;
    }
    &::before, &::after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
    }
    &::before{
      width: 78px;
      height: 63px;
      top: 0;
      background-image: url("../img/products/pentagon-black.png");
    }
    &::after{
      width: 45px;
      height: 46px;
      top: 8px;
      background-image: url("../img/logo.svg");
      background-size: cover;
    }
  }
  &__button{
     margin: 10px 0 0 0;
     text-align: center;
   }
}

.diatomea{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 0 23px 70px 0;
  column-gap: 15px;
  &__left{
    grid-row: 1;
    grid-column: 1;
  }
  &__right{
    grid-column: 2;
    grid-row: 1/3;
    margin: 10px 27px 0 0;
  }
  &__bottom{
    grid-column: 1;
    grid-row: 2;
  }
  &__description{
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    max-width: 526px;
    margin: 40px 0 31px 80px;
  }
  &__img{
    position: absolute;
    width: 73%;
    transform: rotate(5deg);
    bottom: -38px;
    left: 64px;
  }
}
.applications{
  &__title{
    text-align: center;
    margin: 0 0 26px 0;
  }
}

.fertilizer{
  display: flex;
  flex-direction: column;
  padding: 0 0 97px 22px;
  &__structure{
    max-width: 665px;
    padding: 39px 0 0 91px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
  &__application{
    max-width: 432px;
    margin: 38px 0 0 0;
  }
  &__application-title{
    text-align: center;
    margin: 0 0 30px 0;
  }
  &__application-text {
    margin: 0 0 0 8px;
  }
  &__effectiveness{
    max-width: 540px;
    margin: 39px 0 0 165px;
  }
  &__effectiveness-title{
    text-align: center;
    margin-bottom: 29px;
    transform: translateX(-55px);
  }
  &__effectiveness-item{
    list-style: disc;
    &_hidden{
      display: none;
    }
  }
  &__button{
    margin-top: 3px;
  }
  &__img{
    position: relative;
    width: 65%;
    bottom: 28px;
    left: -9px;
  }
  &__top, &__bottom{
    display: flex;
  }
}
/*=============================================*/

.documents{
  position: relative;
  padding: 0 0 88px 0;
  &::before{
    content: "";
    display: block;
    width: 553px;
    height: 427px;
    position: absolute;
    left: -248px;
    bottom: -94px;
    background-image: url(../img/pentagon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  &__title{
    font-size: 24px;
    text-align: center;
    padding: 168px 0 60px 0;
    position: relative;
    z-index: 1;
  }
  &__slider{
    position: relative;
    z-index: 1;
  }
  & .container{
    overflow: hidden;
    &::after{
      content: "";
      display: block;
      width: 503px;
      height: 384px;
      position: absolute;
      right: 3px;
      bottom: 284px;
      background-image: url(../img/pentagon.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
}

.slider-documents{
  &__container{
    position: relative;
    overflow: hidden;
    max-width: 1006px;
    min-height: 510px;
    margin: 0 auto;
  }
  &__image{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    &::after{
      content: '';
      width: 100%;
      height: 9px;
     background-image:  linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
    }
  }
  &__tracer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -231px;
    white-space: nowrap;
    min-width: 200px;
  }
  &__item{
    width: 200px;
    min-height: 284px;
    transition: all 1s;
    flex-shrink: 0;
    margin-right: 42px;
    position: relative;
    &_anim{
      width: 0;
      margin: 0;
    }
    &_active{
      margin: 0 129px 0 87px;
      width: 326px;
      min-height: 463px;
    }
    & img{
        width: 100%;
    }
  }
  &__text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
  &__button{
    position: absolute;
    width: 41px;
    height: 36px;
    background-color: transparent;
    background-image: url("../img/pentagon-gold.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    z-index: 1;
    &_left{
      transform: translate(-250px, -50%);
    }
    &_right{
      transform: translate(210px, -50%);
    }
  }
}

.arrow{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  &_left{
    transform: rotate(180deg);
  }
  &::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 3px solid gold;
    border-left: none;
    border-bottom: none;
    top: 13px;
    right: 12px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 3px;
    background: gold;
    top: 16.3px;
    right: 13.2px;
  }
}
/*=============================================*/

.news{
  position: relative;
  &__title{
    font-size: 24px;
    text-align: center;
    padding: 0 0 76px 0;
  }
  &__slider{
    margin-bottom: 80px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 458px;
    height: 550px;
    background: url(../img/logo.svg) no-repeat;
    background-size: auto 100%;
    right: 0;
    bottom: 111px;
    opacity: 30%;
  }
}

.slider-news{
  &__item{
    margin-right: 120px;
  }
  &__container{
    max-width: 343px;
  }
  &__date{
    text-align: right;
    margin-bottom: 19px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    line-height: 19.38px;
  }
  &__img{
    margin-bottom: 19px;
    &::after{
      content: '';
      display: block;
      height: 11px;
      width: 100%;
      background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);;
    }
  }
}

.slick-track{
  display: flex;
}
.slick-list{
  position: relative;
  overflow: hidden;
  max-width: 810px;
  margin: 0 auto;
}
.slick-arrow{
  display: block;
  font-size: 0;
  background-color: transparent;
  background-image: url(../img/pentagon-gold.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 41px;
  height: 36px;
  position: absolute;
  top: 50%;
  &::before{
    @extend .arrow;
  }
  &::after{
    @extend .arrow;
  }
  &.slick-prev{
    left: 120px;
    transform: translateY(-50%) rotate(180deg);
  }
  &.slick-next{
    right: 120px;
    transform: translateY(-50%);
  }
}
/*=============================================*/
@media (max-width: 1200px) {
  .company{
    justify-content: space-around;
    &__picture-container{
      margin: 0;
    }
  }
}
 @media (max-width: 1120px){
   .header{
   &__log-in{
     max-width: none;
    flex: 0 1 158px;
     margin: 0;
   }
   &__logo{
     flex-basis: 140px;
   }
}
  .nav{
   &__menu{
     column-gap:25px;
   }
  }
   .company{
     &__container{
       justify-content: space-around;
     }
   }
   .description{
     &__text{
       white-space: normal;
     }
   }
   .img-bottles{
     &__bottles{
       width: 375px;
       height: 348px;
     }
   }
}
@media (max-width: 1089px) {
  .company{
    &__title{
      margin: 0;
    }
    &__map{
      display: flex;
      flex-direction: column;
    }
    &__map-link{
      order: -1;
    }
    &__map-picture{
      margin: 17px 0 0 0;
    }
  }
  .founders{
    &__title{
      text-align: center;
      font-size: 24px;
      margin: 30px 0 47px 0;
    }
  }
  .block{
    &__container{
      column-gap: 14px;
    }
  }
  .diatomea{
    padding: 0 0 70px 0;
  }

  .slider-documents{
    &__tracer{
      left: -569px;
    }
    &__container{
      max-width: 329px;
    }
  }
}
@media (max-width: 980px){
  .header{
    &__log-in{
      flex-basis: 130px;
    }
    &__logo{
      flex-basis: auto;
    }
  }
  .nav{
    &__menu{
      column-gap:20px;
    }
  }
  .introductory{
    &__container{
      padding: 85px 0 85px 0;
      background-size: cover;
    }
    &__button{
      margin-bottom: 25px;
    }
    &__title{
      margin-bottom: 18px;
      font-size: 45px;
    }
    &__text{
      margin-bottom: 16px;
    }
    &__logo{
      width: 220px;
      height: 220px;
    }
    &__bottles{
      display: none;
    }
  }
  .company{
    &__container{
      row-gap: 15px;;
    }
    &__title{
      padding-top: 72px;
      padding-bottom: 20px;
    }
    &__info{
      margin: 0;
    }
    &__map{
      margin-top: 70px;
    }
  }
  .products{
    &__title{
      padding-top: 37px;
      margin-bottom: 25px;
    }
    &__rectangle-right{
      width: 50vw;
    }
    &__rectangle-left{
      width: 50vw;
    }
  }

  .description{
    padding: 0 30px 42px 30px;
    &__img-black{
      left: 52px;
    }
    &__img-honey{
      left: 141px;
    }
  }
  .img-bottles{
    &__bottles{
      width: 350px;
      height: 323px;
    }
  }

  .honey{
    padding: 0 0 40px 0;
    &__text-button{
      display: block;
    }
    &__text-item_hidden{
      display: none;
    }
    &__text-gold {
      margin: 0 0 20px 0;
    }
    &__text-item{
      margin: 0 0 18px 0;
    }
    &__bottom-container{
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
    &__advantages-title{
      transform: translate(0);
      margin-bottom: 30px;
    }
    &__specifications-title{
      margin-bottom: 30px;
    }
    &__advantages, &__specifications{
      max-width: 536px;
      flex-basis: auto;
    }
  }
  .block{
    &__container{
      row-gap: 30px;
    }
    &__item{
      width: 261px;
    }
  }

  .diatomea{
    padding: 21px 0 51px 0;
    row-gap: 30px;
    justify-items: center;
    &__left{
      grid-row: 1;
    }
    &__right{
      grid-row: 1;
    }
    &__bottom{
      max-width: 536px;
      grid-column: 1/3;
      grid-row: 2;
    }
    &__description{
      margin: 40px 0 31px 50px;
    }
  }

  .fertilizer{
    padding: 0 0 80px 22px;
    &__structure{
      padding: 39px 0 0 40px;
    }
    &__effectiveness{
      margin-left: 0;
      max-width: 50%;
    }
    &__application{
      max-width: 50%;
    }
    &__effectiveness-title{
      transform: translateX(0);
    }
    &__bottom{
      justify-content: space-evenly;
      column-gap: 70px;
    }
  }
  .documents{
    &__title{
      padding: 138px 0 60px 0;
    }
  }
}

@media (max-width: 840px) {
  .adaptive-text{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 1px;
    color: white;
  }
  .header{
    &__wrapper{
      position: relative;
    }
    &__logo{
      order: 2;
      position: absolute;
      left: 50%;
      transform: translate(-53%, 7px);
    }
    &__nav{
      order: 3;
    }
    &__log-in{
      flex-basis: auto;
      .button{
        position: relative;
        padding: 34px 0 0 0;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        &::before{
          position: absolute;
          top: 12px;
          left: 50%;
          transform: translate(-50%,0);
          display: block;
          background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
          font-size: 20px;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .nav{
    &__icon-burger{
      position: relative;
      z-index: 5;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &.nav__icon_active .nav__icon::before{
        width: 100%;
        top: 50%;
        transform: rotate(-45deg) translate(0,-50%);
      }
      &.nav__icon_active .nav__icon::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0,50%);
      }
    }
    &__menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
    }
    &__link{
      color: inherit;
      text-decoration: none;
      display: inline-block;
      padding: 20px 0;
    }
    &__icon{
      margin-bottom: 6px;
      position: relative;
      width: 49px;
      height: 18px;
      &::before, &::after{
        position: absolute;
        content: "";
        display: block;
        height: 4px;
        transform-origin: 50%;
        transition: transform 0.3s ease;
        background-image: linear-gradient(90deg, #C1AD64 1.88%, #A98343 35.61%, #A27C3D 54.52%, #C4B067 87.74%);
      }
      &::before{
        top: 0;
        right: 0;
        width: 73.47%;
      }
      &::after{
        bottom: 0;
        width: 100%;
      }
    }
    &__body{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 25, 25, 0.8);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
      &_active{
        left: 0;
      }
      &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 103px;
        background-color: #191919;
      }
    }
  }
  .text-hidden{
    opacity: 0;
  }
}

@media (max-width: 736px) {
  .container {
    padding: 0 17px 0 27px;
  }
  .introductory{
    &__title{
      margin-bottom: 13px;
      font-size: 40px;
    }
    &__text{
      max-width: 370px;
    }
    &__logo{
      width: 170px;
      height: 170px;
    }
  }
  .company{
    &__title{
      padding-top: 40px;
      padding-bottom: 31px;
    }
    &__map{
      margin-top: 70px;
    }
  }
  .founders{
    &__title{
      margin-top: 15px;
      margin-bottom: 20px;
    }
    &__items{
      column-gap: 5px;
      row-gap: 27px;
      padding: 0 0 39px 0;
    }
  }
  .info{
    &::after, &__pentagon-logo{
      display: none;
    }
  }

  .products{
    &__title{
      padding-top: 30px;
      margin-bottom: 0;
    }
    &__rectangle-right{
      margin: 0;
      width: 100%;
    }
    &__rectangle-left{
      margin: 0;
      width: 100%;
    }
    &__logo-opacity, &__pentagon, &__pentagon-logo{
      display: none;
    }
  }
  .description{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
    &__common-words{
      margin: 92px 0 0 0;
    }
  }

  .honey{
    padding: 0 0 41px 0;
    &__top-container{
      justify-content: center;
      flex-wrap: wrap;
    }
    &__advantages-title{
      margin: 0 0 25px 0;
    }
    &__specifications-title{
      margin: 0 0 25px 0;
    }
  }
  .img-bottles {
    &__container {
      margin: 20px 5px 0 0;
    }
  }

  .block{
    &__container{
      row-gap: 35px;
    }
  }
  .diatomea{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
    &__right{
      grid-column: 1;
      grid-row: 1;
      margin: 10px 0 0 0;
    }
    &__left{
      grid-column: 1;
      grid-row: 2;
    }
    &__bottom{
      grid-column: 1;
      grid-row: 3;
    }
    &__description{
      margin: 0 0 0 22px;
      max-width: 100%;
    }
  }

  .fertilizer{
    padding: 11px 0 50px 22px;
    &__structure{
      padding: 51px 0 0 0;
      row-gap: 22px;
    }
    &__application-text{
      margin: 0;
    }
    &__top, &__bottom{
      flex-direction: column;
      justify-content: flex-start;
    }
    &__effectiveness, &__application{
      margin: 30px 0 0 0;
      max-width: 100%;
    }
    &__effectiveness-title, &__application-title{
      text-align: left;
      margin: 0 0 15px 0;
    }
    &__effectiveness-list{
      padding: 0 0 0 15px;
    }
    &__button{
      text-align: center;
    }
  }

  .bottom{
    flex-direction: column;
    &::before{
      width: 320px;
      height: 247px;
      position: absolute;
      content: "";
      background-image: url(../img/pentagon.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center bottom;
    }
    &__rectangle-right{
      display: none;
    }
    &__rectangle-left{
      width: 100%;
    }
    &__button{
      padding: 90px 0 100px 0;
      position: relative;

    }
  }

  .documents{
    padding: 0 0 40px 0;
    &::before{
      display: none;
    }
    & .container{
      &::after{
        display: none;
      }
    }
    &__title{
      padding: 50px 0 25px 0;
    }
  }


  .slider-documents {
    &__container{
      min-height:  463px;
    }
    &__tracer{
      left: -546px;
    }
    &__item{
      &_active{
        margin: 0 87px 0 87px;
        width: 280px;
        min-height: 463px;
      }
    }
    &__button{
      &_left{
        transform: translate(-210px, -50%);
      }
      &_right{
        transform: translate( 170px, -50%);
      }
    }
  }

}

@media (max-width: 540px) {
  .introductory{
    &__container{
      padding: 23px 0 75px 0;
    }
    &__title{
      max-width: 132px;
      margin-bottom: 9px;
      font-size: 35px;
    }
    &__text{
      max-width: 229px;
      margin-bottom: 10px;
    }
    &__logo{
      display: none;
    }
    &__button{
      margin: 0;
      transform: translateX(-3px);
    }
  }
  .company{
    &__subtitle{
      margin: 24px 35px 35px 0;
    }
    &__container{
      padding: 0;
      flex-direction: column;
      row-gap: 8px;
    }
    &__title{
      padding-top: 23px;
      transform: translateX(-3px);
    }
    &__description{
      margin: 0 0 0 5px;
    }
    &__description-item:last-child {
      line-height: 23px;
    }
    &__map {
      align-self: flex-end;
      width: 233px;
      margin: 24px 2px 0 0;
    }
    &__map-picture{
      &::before{
        width: 68px;
        top: -65px;
        left: -43px;
      }
    }
    &__map-link{
      align-self: flex-end;
      margin: 1px 2px 0 0;
    }
  }
  .founders{
    &__title{
      margin-top: 29px;
      margin-bottom: 20px;
      transform: translate(-3px);
    }
  }
  .img-bottles{
    &__bottles{
      width: 277px;
      height: 248px;
      margin-bottom: 16px;
    }
    &__button {
      transform: none;
    }
  }
  .products{
    background-size: 140%;
    &__title{
      padding-top: 22px;
    }
  }
  .description{
    padding-left: 0;
    padding-right: 0;
    &__common-words{
      margin: 76px 0 0 0;
      row-gap: 14px;
    }
    &__text-gold{
      max-width: 196px;
    }
    &__img-honey{
      bottom: 13px;
      left: 115px;
    }
    &__img-orange{
      bottom: 21px;
      right: -25px;
    }
    &__img-black{
      left: 40px;
      bottom: 14px;
    }
    &__img-pink{
      left: -12px;
      bottom: 16px;
    }
    &__bottles{
      width: 257px;
      height: 229px;
      margin-top: 8px;
      margin-bottom: 13px;
    }
  }

  .honey{
    &__img{
      width: 61.5%;
      left: 55px;
      bottom: -24px;
    }
    &__top-container {
      column-gap: 30px;
      margin: 0 0 18px -5px;
    }
    &__text-container{
      margin: 31px 0 0 5px;
    }
    &__text-gold{
      margin: 0 0 25px 0;
      text-align: center;
    }
    &__text-item{
      margin: 0;
    }
    &__bottom-container{
      row-gap: 26px;
    }
  }
  .diatomea{
    row-gap: 0;
    &__img{
      width: 75%;
      left: 44px;
    }
    &__right{
      margin: 0 0 31px 0;
    }
    &__left{
      margin: 20px 12px 21px 0;
    }
    &__bottom{
      margin: 0 12px 0 0;
    }
    &__description{
      margin: 0;
      row-gap: 24px;
      align-items: flex-start;
    }
  }

  .fertilizer{
    padding: 11px 0 48px 0;
    &__structure{
      max-width: 260px;
    }
    &__structure-list {
      margin: -13px 0 0 0;
      max-width: 250px;
    }
    &__application-text {
      margin: -5px 0 0 0;
    }
    &__effectiveness-list {
      padding: 0 0 0 21px;
      margin-top: -7px;
    }
  }
  .documents{
    padding: 0 0 20px 0;
    &__title{
      padding: 32px 0 19px 0;
    }
  }
  .slider-documents{
    &__button{
      &_right{
        transform: translate(110px, -50%);
      }
      &_left{
        transform: translate(-150px, -50%);
      }
    }
    &__container{
      max-width: 217px;
      min-height: 331px;
    }
    &__tracer{
      left: -494px;
    }
    &__item{
      &_active{
        margin: 0 20px 0 20px;
        width: 200px;
        min-height: auto;
      }
    }
  }
}